<% provide(:title, 'Sign up')%>
<h1>Sign up</h1>
<p>This will be a sign up page for new users:</p>
<br/>

<form>
  Username: <br><input type="text"><br>
  Email: <br><input type="text"><br>
  Password: <br><input type="text"><br>
  Confirm Password: <br><input type="text"><br>
  <input type="submit" value="Create User">
</form>
